@model ConsultaViewModel<ObtenerFacturaRequest, ObtenerFacturaResponse>
@using FacturacionBarberia.Aplication.ViewModel
@using FacturacionBarberia.Domain.Models.Enum

<form method="get"
    asp-action="ObtenerFacturas">

    <div class="filters-card">

        <h3>Filtros de búsqueda</h3>

        <div class="filters-grid">

            <div class="form-group">
                <label>ID</label>
                <input asp-for="Filtros.FacturaId"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label>Cliente</label>
                <input asp-for="Filtros.Cliente"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label>Usuario</label>
                <input asp-for="Filtros.Usuario"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label>Fecha Desde</label>
                <input asp-for="Filtros.FechaDesde"
                       class="form-control" />
            </div>

            <div class="form-group">
                <label>Fecha Hasta</label>
                <input asp-for="Filtros.FechaHasta"
                       class="form-control" />
            </div>

            <div class="form-group">

                <label>Estado Factura</label>

                <select asp-for="Filtros.EstadoFactura"
                        class="form-control">

                    <option value="">Todos</option>

                    @foreach (var estado in Enum.GetValues<EstadoFacturaEnum>())
                    {
                        <option value="@estado">
                            @estado
                        </option>
                    }

                </select>

            </div>

            <div class="form-group">

                <label>Forma de pago</label>

                <select asp-for="Filtros.FormaPago"
                        class="form-control">

                    <option value="">Todos</option>

                    @foreach (var estado in Enum.GetValues<FormaPagoEnum>())
                    {
                        <option value="@estado">
                            @estado
                        </option>
                    }

                </select>

            </div>

            <div class="actions">

                <button type="submit"
                        class="btn-primary">

                    Buscar

                </button>

                <a asp-action="ObtenerFacturas"
                   class="btn-secondary">
                    Limpiar
                </a>
            </div>

        </div>

    </div>
</form>

@if (!Model.Resultados.Any())
{
    <div class="validation-errors">
        No se encontraron facturas.
    </div>
}
else
{
    <table class="table">

        <thead>

            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Usuario</th>
                <th>Total</th>
                <th>Forma Pago</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>

        </thead>

        <tbody>

            @foreach(var factura in Model.Resultados)
        {
            <tr>

                <td>@factura.FacturaId</td>

                <td>
                    @factura.FechaFactura.ToString("dd/MM/yyyy")
                </td>

                <td>@factura.Cliente</td>

                <td>@factura.Usuario</td>

                <td>
                    @factura.Total.ToString("N2")
                </td>

                <td>@factura.FormaPago</td>

                <td>@factura.EstadoFactura</td>

                <td>

                    <a asp-action="Detalle"
                       asp-route-facturaId="@factura.FacturaId"
                       class="btn-edit">

                        Ver

                    </a>

                    @if(factura.EstadoFactura ==
                        EstadoFacturaEnum.Activa)
                    {
                        <form asp-action="Anular"
                              asp-route-facturaId="@factura.FacturaId"
                              method="post"
                              style="display:inline;">

                            <button type="submit"
                                        class="btn-anular">

                                Anular

                            </button>

                        </form>
                }

                    </td>

                </tr>
             }

        </tbody>

    </table>
}





